<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source = DESKTOP-6TN4RO9\SQLSERVER17 ;initial catalog =Matab ; integrated security=true" name="DefaultConnection" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
